{% load i18n %}
<ul class="sidebar-menu">
  {% if app_list %}
    {% for app in app_list %}
      <li class="treeview {% if app.app_url in current_url %}active{% endif %}">
        <a href="#">
          <span>{{app.name}}</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          {% for model in app.models %}
          <li class="{% if model.admin_url in current_url %}active{% endif %}"><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  {% endif %}
</ul>
